div#leenkme_meta_box {
	
}

ul.leenkme_tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 26px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	width: 100%;
}

ul.leenkme_tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 25px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 25px; /*--Vertically aligns the text within the tab--*/
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
	border: 1px solid #999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 3px;
}

ul.leenkme_tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 4px 6px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}

ul.leenkme_tabs li a:hover {
	background: #ccc;
}

html ul.leenkme_tabs li.active, html ul.leenkme_tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.leenkme_tab_container {
	border: 1px solid #999;
	border-top: none;
	float: left;
    width: 100%;
	height: 300px;
	overflow: auto;
	background: #fff;
}

.leenkme_tab_container .tab_content {
	padding: 20px;
	font-size: 1.2em;
}

table#leenkme_leenkme_social_network_modules,
table#leenkme_leenkme_post_type_to_publish,
table#leenkme_leenkme_url_shortener {
	width: 100%;
	border-bottom: 1px solid grey;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

table#leenkme_leenkme_social_network_modules th,
table#leenkme_leenkme_post_type_to_publish th,
table#leenkme_leenkme_url_shortener th {
	width: 30%;
	padding: 5px;
	text-align: left;
	vertical-align: top;	
}

table#leenkme_leenkme_social_network_modules td,
table#leenkme_leenkme_post_type_to_publish td,
table#leenkme_leenkme_url_shortener td {
	padding: 5px;
	text-align: left;
	vertical-align: top;	
}

table#leenkme_leenkme_social_network_modules td.leenkme_plugin_name,
table#leenkme_leenkme_post_type_to_publish td.leenkme_post_type_name {
	width: 80px;
}

table#leenkme_leenkme_social_network_modules td.leenkme_module_checkbox {
	width: 25px;
}

span#lm_tweet_count {
    font: 22px Georgia,"Times New Roman",Times,serif;
    margin-right: 8px;	
}

span.lm_tweet_count {
	color: #999999;
}

span.lm_tweet_count_warn {
    color: #5C0002;
}

span.lm_tweet_count_superwarn {
    color: #D40D12;
}

span#lm_format {
	font-weight: bold;	
}

span.manual_format {
	color: darkorange;
}

div#fb_format_options, div#li_format_options, div#ff_format_options {
	width: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 11px;
}

div#lm_facebook_box, div#lm_linkedin_box, div#lm_friendfeed_box {
	border: 1px solid #B4BBCD;
	width: 500px;
	margin-left: auto;
	margin-right: auto;	
}
textarea#leenkme_tweet, textarea#lm_fb_message, textarea#lm_li_comment, textarea#lm_ff_body {
	padding-top: 5px;
	min-height: 48px;
	width: 99%;
	resize: none;
}

div#lm_fb_attachment_meta_area, div#lm_li_attachment_meta_area, div#lm_ff_attachment_meta_area {
	margin-top: 5px;
	padding: 5px;
	border-top: 1px dashed #B4BBCD;
	height: 110px;
	font-size: 11px;
}

#lm_fb_image, #lm_li_image, #lm_ff_image {
	padding: 0 12px 12px 0;	
	float: left;
}

#lm_fb_image img, #lm_li_image img, #lm_ff_image img {
	max-width: 100px;
	max-height: 100px;
}

div#lm_fb_content_area, div#lm_li_content_area {
	width: 375px;
	float: left;
}

input#lm_fb_linkname {
	width: 100%;
	font-size: 12px;
    font-weight: bold;
}

input#lm_li_linktitle {
	width: 100%;
	font-size: 12px;
	color: #006699;
}

input#lm_fb_caption {
	width: 100%;	
	font-size: 11px;
}

p#lm_li_caption {
	width: 100%;
	clear: both;
	font-size: 11px !important;
	margin: 1px 0 !important;	
}

textarea#lm_fb_description, textarea#lm_li_description {
	width: 100%;
	font-size: 11px;
	resize: none;
}

div#lm_facebook_options, div#lm_linkedin_options, div#lm_friendfeed_options {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

div#lm_fb_exlusions, div#lm_li_exlusions {
	float: left;
	font-size: 11px;
}

div#lm_fb_republish, div#lm_li_reshare {
	float: right;	
}